<%= form_with(model: @article, local: true) do |f| %>


  <div class="form-group">
    <%= f.fields_for :categories, @categories do |category_f| %>
      <% @categories.each do |category|%>
        <div class="form-check">
          <%= check_box_tag("category_#{category.name}", category.id, false, :name=> 'article[category_ids][]', id: "category-option-#{category.id}") %>
          
          <%= label_tag("category-option-#{category.id}", category.name) %>
        </div>
      <% end %>
    <% end %>
  </div>


  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:"form-control input-group-text" %>
  </div>
  <div class="form-group">
    <%= f.label :text, "Content" %>
    <%= f.text_area :text, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit(class: "btn btn-primary")  %>
  </div>
<% end %>