<div class="row">

 <% @articles.each_with_index do |article , index| %>
    <% if (index/2)%2 == 0%>
      <div class="col-3 px-0" style="height:300px">
        <%= image_tag  article.image_element.image , class: "w-100 h-100"  if article.image_element.image.present?%>
      </div>
      <div class="bg-white col-3" style="height:300px">
        <h3><%= article.title%></h3>
        <p><%= trunced_text(article)%></p>
        <p>By: <%= article.user.name%></p>
        <%= vote_or_unvote_btn(article) %>
      </div>
    <% else %>
      <div class="bg-white col-3" style="height:300px">
        <h3><%= article.title%></h3>
        <p><%= trunced_text(article)%></p>
        <p>By: <%= article.user.name%></p>
        <%= vote_or_unvote_btn(article) %>
      </div>
      <div class="col-3 px-0" style="height:300px">
        <%= image_tag  article.image_element.image , class: "w-100 h-100"  if article.image_element.image.present?%>
      </div>
    <% end %>
  <% end %> 

</div>
