<!DOCTYPE html>
<html>
  <head>
    <title>RorArticlesWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <%= render 'layouts/navigation'%>
    <main class="container-fluid my-5 px-0">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer'%>
  </body>
</html>
